* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto Slab', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

.form-input {
  border: none;
  border-bottom: 2px solid rgba(86, 86, 86, 0.34);

  padding: 5px 0px;
}
.form-input::placeholder {
  color: blueviolet;
}

.form-input:focus {
  outline: none;
  border-bottom: 2px solid blueviolet;
}
